@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Custom Global Styles */
  body {
    @apply font-sans; /* Apply a default font family */
  }

  .form-label {
    @apply block text-gray-700 font-bold mb-2;
  }

  .input-field {
    @apply shadow appearance-none border rounded w-full py-2 px-3 
           text-gray-700 leading-tight focus:outline-none 
           focus:ring focus:ring-gray-500 text-2xl;
  }

  .share-code-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 
           text-gray-700 leading-tight focus:outline-none 
           focus:ring focus:ring-gray-500 font-mono text-4xl text-center;
  }

  .textarea-field {
    @apply shadow appearance-none border rounded-md w-full py-2 px-3
           text-gray-700 leading-tight focus:outline-none 
           focus:ring focus:ring-gray-500 h-48 resize-y;
  }

  .button {
    @apply bg-gray-500 hover:bg-gray-700 text-white text-2xl font-bold py-4 px-12 rounded;
  }

  .button-inactive {
    @apply bg-gray-300 text-gray-500 cursor-not-allowed;
  }
}
